* { box-sizing: border-box; }

.autocomplete {
  position: absolute;
  display: inline-block;
  width: 80vw;
  left: 10vw;

}

input {
  border: none;
  position: absolute;
  display: inline-block;
  padding: 5px 25px;
  line-height: 28px;
  width: 80vw;
  top: -10vh;
  border-radius: 14pt;
  font-size: 24pt;
  
}

.autocomplete-list {
    position: absolute;
    border-radius: 14pt;
    list-style-type: none;
    display: block;
    margin-top: calc(10vh + 50px);
    background-color: white;
    border-radius: 14pt;
}

.autocomplete-items {
  font-family: 'ubuntu';
  color: black;
  background-color: white;
  padding: 10px 10px;
  line-height: 25px;
  font-size: 15pt;
  font-weight: bold;
  position: relative;
  border: none;
  width: 80vw;
  border-radius: 14pt;
}

.autocomplete-items:hover {
  background-color: #7e7e7e;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
