* { box-sizing: border-box; }

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


.autocomplete-list {
    list-style-type: none;
    display: block;
    width: auto;
    padding-left: 2vw;
}

.autocomplete-items {
  font-family: 'ubuntu';
  position: relative;
  border: none;
  width: auto;

}

.autocomplete-items:hover {
  background-color: #7e7e7e;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
