/* standard button at bottom of screen */

button {
    position: absolute;
    border: none;
    padding: 0px;
    height: 56px;
    left: 10%;
    width: 80%;
    bottom: 30px;
    background: #C4211C;
    border-radius: 14px;
    color: #FFFFFF;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;

}


.instructions > button {
    position: absolute;
    bottom: 30px;
}

button.disabled {
    background: grey;
}

/* Scan item button */
div.cam-button {
    position: absolute;
    width: 130px;
    height: 130px;
    left: calc(50vw - 60px);
    margin-top: 30vh;

    background: #C4211C;
    border-radius: 14px;
}


.back-button > img {
    position: absolute;
    width: 18px;
    height: 22px;
    left: 10px;
    top: 20px;

}

.back-button > h6 {
    position: absolute;
    position: absolute;
    width: 36px;
    height: 22px;
    left: 35px;
    top: 20px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: -0.408px;

    /* Gray 6 */
    color: #F2F2F2;
}

.home-choice {
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.home-choice > button {
    margin-top: 20px;
    position: relative;
    bottom: 30px;
    display: block;
}

.confirm > button {
    position: absolute;
    bottom: 40px;
}

.confirm > button.again {
    width: 35%;
    left: 10%;
}

.confirm > button.continue {
    width: 35%;
    left: 55%;
}

.response > button {
    position: absolute;
    bottom: 70px;
}

.response > h6.link {
    position: absolute;
    bottom: 30px;
}

.response > button.send {
    position: absolute;
    top: 50%;
    left: 65%;
    width: 25%;
    height: 35px;
    border-radius: 17.5px;
}

#disabled {
    background: grey;
}


