/* standard button at bottom of screen */
button {
    border: none;
    padding: 0px;
    position: absolute;
    height: 56px;
    left: 10vw;
    width: 80vw;
    bottom: 16vh;
    background: #C4211C;
    border-radius: 14px;
    color: #FFFFFF;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
}

/* Scan item button */
div.cam-button {
    position: absolute;
    width: 130px;
    height: 130px;
    left: calc(50vw - 60px);
    margin-top: 30vh;

    background: #C4211C;
    border-radius: 14px;
}


/* Different placement on confirm screen */
.confirm > button {
    bottom: 13vh;
}

.back-button > img {
    position: absolute;
    width: 18px;
    height: 22px;
    left: 10px;
    top: 20px;

}

.back-button > h6 {
    position: absolute;
    position: absolute;
    width: 36px;
    height: 22px;
    left: 35px;
    top: 20px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: lighter;
    font-size: 17px;
    line-height: 22px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    letter-spacing: -0.408px;

    /* Gray 6 */
    color: #F2F2F2;
}