.container {
    width: 50vh;
}
.preview {
    position: 'relative';
    height: 10%;
}
.captureButton {
    float: left;
    width: 33.33333%;
    outline: none;
    color: #050202;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}