.container {
    position: absolute;
    
}
.preview {
    position: "absolute";
    width: 80%;
    left: 10%;
    margin-top: 20%;
}

.camera {
    position: absolute;
    top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
}