img.bac-logo {
    position: absolute;
    left: 2vw;
    top: 2vh;
}

img.luggage {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 37vh;
}

img.cam-button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

img.picture {
    position: relative;
    display: block;
    max-height: 30vh;
    top: 25vh;
    margin-left: auto;
    margin-right: auto;

}