img.bac-logo {
    position: absolute;
    left: 2vw;
    top: 2vh;
}

img.itsago {
    position: relative;
    display: block;
    bottom: -350px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

img.cam-button {
    position: absolute;
    display: block;
    max-height: 30px;
    margin-left: 50vw;
    margin-top: -4px;
}


img.picture {
    position: relative;
    display: block;
    max-height: 30vh;
    top: 25vh;
    margin-left: auto;
    margin-right: auto; 
}

img.allowed {
    position: relative;
    display: block;
    max-height: 25vh;
    top: 25vh;
    margin-left: auto;
    margin-right: auto; 
    border: 7px solid green;
}

img.warning {
    position: relative;
    display: block;
    max-height: 25vh;
    top: 25vh;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid orange;

}

img.prohibited {
    position: relative;
    display: block;
    max-height: 25vh;
    top: 25vh;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid red;
}

img.checkmark {
    position: absolute;
    max-height: 20px;
    right: 20px;
}

img.language-icon {
    position: absolute;
    max-height: 35px;
    right: 3vw;
    top: 2vh;
}

.instructions > ul > li > ul > li > img {
    max-height: 20px;
    padding-right: 10px;
}

.instructions > ul > li > img {
    max-height: 20px;
    padding-right: 10px;
}

.confirm > img {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, 0)
}