//* { box-sizing: border-box; }


form.autocomplete {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100%;
}

/* search bar */
.autocomplete > input {
  position: relative;
  left: 10%;
  width: 80%;
}

.response > input {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 50%;
}

input {
  border-radius: 14pt;
  border: none;
  font-family: 'ubuntu';
  font-weight: bold;
  font-size: 15pt;
  padding: 5px 20px;
}

.terms > input {
  border-radius: 3pt;
}

/* suggestion list */
.autocomplete > .list {
  position: relative;
  border-radius: 14pt;
  list-style-type: none;
  margin-top: 5%;
  left: 10%;
  width: 80%;
  background-color: white;
}

/* suggestion items */
.autocomplete-items {
  width: 80%;
  background-color: transparent;
  padding: 8px 20px;
  font-family: 'ubuntu';
  color: black;
  font-size: 15pt;
  font-weight: bold;
}

.confirm > .list {
  position: absolute;
  bottom: 120px;
  border-radius: 14pt;
  list-style-type: none;
  left: 10%;
  width: 80%;
  background-color: white;
}

textarea {
  position: absolute;
  width: 80%;
  height: 35%;
  top: 45%;
  left: 10%;
  font-family: 'ubuntu';
  font-weight: bold;
  font-size: 20px;
  border-radius: 14px;
  padding-left: 10px;
  padding-top: 10px;
}