h1 {
    position: absolute;
    height: 123px;  
    top: 125px;
    left: 0px;
    right: 0px;
    margin-left: 5vw;
    margin-right: 5vw;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;

    color: #FFFFFF;
}

h2 {
    position: absolute;
    top: 38vh;
    height: 76px;
    left: 17px;
    right: 15px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    /* or 205% */
    text-align: center;
    letter-spacing: 0.374px;
    color: #FFFFFF;
}

/* text in scan item button */
h3 {
    font-family: 'ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 41px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

h5 {
    position: absolute;
    left: 16px;
    right: 16px;    
    bottom: 200px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.24px;

    color: #FFFFFF;
}

h6 {   
    text-align: center;
    left: 5vw;
    right: 5vw; 
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.408px;

    color: #FFFFFF;
}

h1.explanation {
    position: absolute;
    top: 17.09%;
    bottom: 15.14%;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    /* or 205% */
    text-align: center;
    letter-spacing: 0.374px;

    color: #FFFFFF;
}

h2.placeholder {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 5vw;
    right: 5vw; 
    bottom: 30vh;
    margin-left: 5vw;
    margin-right: 5vw;

    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;

    text-align: center;
    letter-spacing: 0.374px;

    color: #FFFFFF;
}

div.result > h2.placeholder {
    bottom: 60vh;
}

/* Make clickable text bold */
h6.link {
    font-weight: bold; 
}


.input > h6 {
    position: absolute;
    bottom: 25px;
} 


h1.allowed {
    top: 20px;
    color: rgb(47, 173, 92);
}

h1.warning {
    top: 20px;
    color: rgb(242, 101, 34);
    opacity: 1;
}

h1.prohibited{
    top: 20px;
    color:rgb(198, 28, 20);
}

.confirm > h1 {
    position: absolute;
    top: 5vh;  
}

/* Different text positions on more info screen */
.info > h5 {
    position: absolute;
    top: -30vh;
    font-weight: bold;
}

.info > h6 {
    position: absolute;
    top: 30vh;
}

.info > h6.link {
    position: absolute;
    top: 50vh; 
}

label {
    display: block;
    position: absolute;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 125px;
    padding-left: 15px;
    font-family: 'ubuntu';
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: white;
}

.terms > input {
    width: 20px;
    height: 20px;
    padding: 0px;
    left: -5px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

ul {
    font-family: 'ubuntu';
    font-size: 15px;
    color: white;
}

.welcome > h6.link {
    position: absolute;
    bottom: 102px;
}

.terms > h1 {
    top: 30px;
    font-size: 30px;
}

.terms > ul {
    position: absolute;
    font-size: 12px;
    top: 80px;
    margin-left: 50px;
    margin-right: 30px;

}

.terms > ul > li {
    margin-top: 5px;
}

.instructions > h6 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: -40px

}

.instructions > ul {
    font-size: 17px;
    list-style-type: none;
    position: relative;
    margin: 30px;
    margin-left: 80px;
}

.instructions > ul > li> ul {
    font-size: 17px;
    list-style-type: none;
    position: relative;
    margin-left: 30px;
}

.instructions > ul > li {
    margin-top: 10px;
}

.instructions > ul > li > ul > li {
    margin-top: 10px;
}

.result > h6.link {
    position: absolute;
    bottom: 160px;
}

a {
    text-align: center;
    left: 5vw;
    right: 5vw; 
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.408px;

    color: #FFFFFF;
}

.nopicture > h2 {
    position: absolute;
    top: 30vh;
    font-size: 40px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto; 
}

