@import 'components/CameraField.scss';
@import 'components/AutoComplete.scss';
*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}


.app {
    background-color: #17405C;
    width: 100vw;
    height: 100vh;
}

.bac-logo {
    position: absolute;
    left: 2%;
    right: 67.47%;
    top: 3%;
    bottom: 89.21%;
}

.luggage {
    position: absolute;
    width: 375px;
    height: 226px;
    left: 0px;
    top: 246px;
}

.start-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1.placeholder {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10vh;
    color: black;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 10vh;

}

h1 {
    position: absolute;
    height: 123px;
    left: 16px;
    right: 16px;    
    top: 87px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;

    text-align: center;
    letter-spacing: 0.374px;

    color: #FFFFFF;

}

h6 {
    position: absolute;
    width: 260px;   
    height: 45px;
    left: 66px;
    top: 503px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.408px;

    color: #FFFFFF;

}

.input {
    font-family: ubuntu;
    font-size: large;
    font-weight: bold;
    margin-top: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    padding: 0px;
    position: absolute;
    height: 56px;
    left: 20px;
    width: 316px;
    bottom: 45px;
    background: #C4211C;
    border-radius: 14px;
    color: #FFFFFF;
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
}