@import 'components/camera.scss';
@import 'components/searchbar.scss';
@import 'components/text.scss';
@import 'components/images.scss';
@import 'components/buttons.scss';


*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}



/* set background color for whole app */
.app {
    background-color: #17405C;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    max-height: 800px;
    margin: 0 auto;
}
